@use "../utils/variables" as v;

.listHeader,
.listContent {
    text-align: center;
}
.listPostMetadata {
    font-family: v.$fontCode;
    display: block;
    background: v.$darkGrey;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}
