@use "../utils/variables" as v;

.postWrapper {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.postMetadata {
    font-family: v.$fontCode;
    display: block;
    background: v.$darkGrey;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    text-align: left;
}

.singheHeader {
    overflow: inherit;
    padding-right: 15px;
    padding-left: 15px;
}

dt,
dd {
    line-height: 1.5;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 10px;
}

dt {
    color: v.$grey;
    grid-column-start: 1;
}

dd {
    color: v.$grey;
    grid-column-start: 2;
}

dt::after {
    content: ":";
}
