@use "../utils/variables" as v;

.postDate {
    float: right;
    color: v.$lightGrey;
}

.postTitle {
    @include v.primary-color;

    text-decoration: none;
    text-transform: capitalize;
    font-family: v.$fontHeader;
    font-size: 1.2em;
    float: left;
}

.postHeader {
    overflow: inherit;
    padding-right: 15px;
    padding-left: 15px;
}

.postsList {
    margin-top: 20px;
}

.postListItem {
    padding: 20px;
    background-color: v.$black;
    margin-bottom: 20px;
    border-radius: 20px;
    margin: 20px;
}

.postCoverImage {
    transition: 1s;
    opacity: 65%;
    background-position: center;
    background-size: cover;
    padding: 20px;
    background-color: #282725;
    margin: 5px;
    margin-bottom: 25px;
    border-radius: 15px;
    margin-top: 25px;
    height: 15vh;
    filter: sepia(25%);
}

.postCoverImage:hover {
    transition: 1s;
    opacity: 100%;
    filter: sepia(0%);
}

.postListLink:hover {
    text-decoration: none;
}

.postExcerpt {
    text-align: left;
    text-decoration: none;
    color: v.$darkGrey;
    padding-top: 20px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.noDecoration {
    text-decoration: none;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
